heDeno/Connected Services/MyDenoDBServiceReference/heDenoDB.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/heDenoDB.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/heDenoDB.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="tns:Appointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="tns:ArrayOfAppointment" />
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="clinicId" type="xs:int" />
      <xs:element minOccurs="0" name="clinicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clinicType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientId" type="xs:int" />
      <xs:element minOccurs="0" name="time" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
  <xs:complexType name="ArrayOfSpecialty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Specialty" nillable="true" type="tns:Specialty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialty" nillable="true" type="tns:ArrayOfSpecialty" />
  <xs:complexType name="Specialty">
    <xs:sequence>
      <xs:element minOccurs="0" name="specialtyDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="specialtyFull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="specialtyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Specialty" nillable="true" type="tns:Specialty" />
  <xs:complexType name="ArrayOfClinic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clinic" nillable="true" type="tns:Clinic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinic" nillable="true" type="tns:ArrayOfClinic" />
  <xs:complexType name="Clinic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClinicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClinicType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clinic" nillable="true" type="tns:Clinic" />
  <xs:complexType name="ArrayOfDoctor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doctor" nillable="true" type="tns:Doctor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoctor" nillable="true" type="tns:ArrayOfDoctor" />
  <xs:complexType name="Doctor">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientId" type="xs:int" />
      <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="doctorFull" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doctor" nillable="true" type="tns:Doctor" />
  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecretId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="ArrayOfMedicalCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicalCertificate" nillable="true" type="tns:MedicalCertificate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicalCertificate" nillable="true" type="tns:ArrayOfMedicalCertificate" />
  <xs:complexType name="MedicalCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorSignature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="appointmentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clinicName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clinicType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nric" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patientname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicalCertificate" nillable="true" type="tns:MedicalCertificate" />
</xs:schema>