heDeno/Connected Services/MyDenoDBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/heDenoDB" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/heDenoDB.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentsByPatientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsByPatientId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentsByPatientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsByPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSpecialty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpecialty" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSpecialty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpecialtyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicBySpecialty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicBySpecialty" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicBySpecialty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicBySpecialtyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorByClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorByClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorByClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorByClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointmentsByDoctorAndDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsByDoctorAndDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointmentsByDoctorAndDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsByDoctorAndDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatient" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPatientByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_getPatientByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPatientByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getById_InputMessage">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="IService1_getById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_updateEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePhoneNum_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePhoneNum" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePhoneNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePhoneNumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isEmailVerified_InputMessage">
    <wsdl:part name="parameters" element="tns:isEmailVerified" />
  </wsdl:message>
  <wsdl:message name="IService1_isEmailVerified_OutputMessage">
    <wsdl:part name="parameters" element="tns:isEmailVerifiedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMCById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMCById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMCById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMCByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMCById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMCById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMCById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMCByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMIById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMIById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMIById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMIByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMIById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMIById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMIById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMIByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectDoctorByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectDoctorByID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectDoctorByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectDoctorByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectClinicByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClinicByID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectClinicByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClinicByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMRById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMRById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMRById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMRByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMRById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMRById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMRById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMRByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPatientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPatientByID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectPatientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPatientByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsByPatientId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppointmentsByPatientId" message="tns:IService1_GetAppointmentsByPatientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppointmentsByPatientIdResponse" message="tns:IService1_GetAppointmentsByPatientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAppointment" message="tns:IService1_CreateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAppointmentResponse" message="tns:IService1_CreateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAppointment" message="tns:IService1_UpdateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAppointmentResponse" message="tns:IService1_UpdateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneAppointment" message="tns:IService1_GetOneAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneAppointmentResponse" message="tns:IService1_GetOneAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSpecialty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllSpecialty" message="tns:IService1_GetAllSpecialty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllSpecialtyResponse" message="tns:IService1_GetAllSpecialty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClinicBySpecialty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClinicBySpecialty" message="tns:IService1_GetClinicBySpecialty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClinicBySpecialtyResponse" message="tns:IService1_GetClinicBySpecialty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneClinic" message="tns:IService1_GetOneClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneClinicResponse" message="tns:IService1_GetOneClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorByClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDoctorByClinic" message="tns:IService1_GetDoctorByClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDoctorByClinicResponse" message="tns:IService1_GetDoctorByClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointmentsByDoctorAndDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAppointmentsByDoctorAndDate" message="tns:IService1_GetAllAppointmentsByDoctorAndDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAppointmentsByDoctorAndDateResponse" message="tns:IService1_GetAllAppointmentsByDoctorAndDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelAppointment" message="tns:IService1_CancelAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelAppointmentResponse" message="tns:IService1_CancelAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreatePatient" message="tns:IService1_CreatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreatePatientResponse" message="tns:IService1_CreatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPatientByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPatientByEmail" message="tns:IService1_getPatientByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPatientByEmailResponse" message="tns:IService1_getPatientByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getById" message="tns:IService1_getById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getByIdResponse" message="tns:IService1_getById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateEmail" message="tns:IService1_updateEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateEmailResponse" message="tns:IService1_updateEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePhoneNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePhoneNum" message="tns:IService1_updatePhoneNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePhoneNumResponse" message="tns:IService1_updatePhoneNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verifyEmail" message="tns:IService1_verifyEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verifyEmailResponse" message="tns:IService1_verifyEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isEmailVerified">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isEmailVerified" message="tns:IService1_isEmailVerified_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isEmailVerifiedResponse" message="tns:IService1_isEmailVerified_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMCById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectMCById" message="tns:IService1_SelectMCById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectMCByIdResponse" message="tns:IService1_SelectMCById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneMCById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectOneMCById" message="tns:IService1_SelectOneMCById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectOneMCByIdResponse" message="tns:IService1_SelectOneMCById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMIById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectMIById" message="tns:IService1_SelectMIById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectMIByIdResponse" message="tns:IService1_SelectMIById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneMIById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectOneMIById" message="tns:IService1_SelectOneMIById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectOneMIByIdResponse" message="tns:IService1_SelectOneMIById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectDoctorByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectDoctorByID" message="tns:IService1_SelectDoctorByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectDoctorByIDResponse" message="tns:IService1_SelectDoctorByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClinicByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectClinicByID" message="tns:IService1_SelectClinicByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectClinicByIDResponse" message="tns:IService1_SelectClinicByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMRById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectMRById" message="tns:IService1_SelectMRById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectMRByIdResponse" message="tns:IService1_SelectMRById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneMRById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectOneMRById" message="tns:IService1_SelectOneMRById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectOneMRByIdResponse" message="tns:IService1_SelectOneMRById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPatientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectPatientByID" message="tns:IService1_SelectPatientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectPatientByIDResponse" message="tns:IService1_SelectPatientByID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsByPatientId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppointmentsByPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSpecialty">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllSpecialty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinicBySpecialty">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClinicBySpecialty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorByClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDoctorByClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointmentsByDoctorAndDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAppointmentsByDoctorAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatient">
      <soap:operation soapAction="http://tempuri.org/IService1/CreatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/getPatientByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://tempuri.org/IService1/getById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/updateEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePhoneNum">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePhoneNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/verifyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isEmailVerified">
      <soap:operation soapAction="http://tempuri.org/IService1/isEmailVerified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMCById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectMCById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneMCById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectOneMCById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMIById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectMIById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneMIById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectOneMIById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDoctorByID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectDoctorByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClinicByID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectClinicByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMRById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectMRById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneMRById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectOneMRById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPatientByID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectPatientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/heDenoDB/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>