heDeno/Connected Services/MyDenoDBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/heDenoDB" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/heDenoDB.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentsByPatientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsByPatientId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentsByPatientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsByPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSpecialty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpecialty" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllSpecialty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSpecialtyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicBySpecialty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicBySpecialty" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicBySpecialty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicBySpecialtyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetOneClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorByClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorByClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorByClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorByClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointmentsByDoctorAndDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsByDoctorAndDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointmentsByDoctorAndDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsByDoctorAndDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelAppointment" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelAppointmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsByPatientId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppointmentsByPatientId" message="tns:IService1_GetAppointmentsByPatientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppointmentsByPatientIdResponse" message="tns:IService1_GetAppointmentsByPatientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAppointment" message="tns:IService1_CreateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAppointmentResponse" message="tns:IService1_CreateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAppointment" message="tns:IService1_UpdateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAppointmentResponse" message="tns:IService1_UpdateAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneAppointment" message="tns:IService1_GetOneAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneAppointmentResponse" message="tns:IService1_GetOneAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSpecialty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllSpecialty" message="tns:IService1_GetAllSpecialty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllSpecialtyResponse" message="tns:IService1_GetAllSpecialty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClinicBySpecialty">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClinicBySpecialty" message="tns:IService1_GetClinicBySpecialty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClinicBySpecialtyResponse" message="tns:IService1_GetClinicBySpecialty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetOneClinic" message="tns:IService1_GetOneClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetOneClinicResponse" message="tns:IService1_GetOneClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorByClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDoctorByClinic" message="tns:IService1_GetDoctorByClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDoctorByClinicResponse" message="tns:IService1_GetDoctorByClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointmentsByDoctorAndDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAppointmentsByDoctorAndDate" message="tns:IService1_GetAllAppointmentsByDoctorAndDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAppointmentsByDoctorAndDateResponse" message="tns:IService1_GetAllAppointmentsByDoctorAndDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelAppointment" message="tns:IService1_CancelAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelAppointmentResponse" message="tns:IService1_CancelAppointment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsByPatientId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppointmentsByPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSpecialty">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllSpecialty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinicBySpecialty">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClinicBySpecialty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetOneClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorByClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDoctorByClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointmentsByDoctorAndDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAppointmentsByDoctorAndDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelAppointment">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/heDenoDB/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>